*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

a{
  text-decoration: none !important;
}

:root{
  --main-color: rgb(255, 186, 0);
  --text-color: #c62d2d;
}

.container{
  width: 100%;
  height: auto;
}
.menu{
  width: 100%;
  height: 150px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.up{
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}
.up ul{
  list-style: none;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 0;
}
.up ul li{
  display: inline-block;
  padding:0 10px ;
}
.up ul li a{
  text-decoration: none;
  font-size: 20;
  font-weight:bold;
  color: black;
}
.up ul li a img{
  vertical-align: middle;
}
.logo a img{
padding-right:40px ;
width: 100%;
}
.logo{
  width: 200px;
  height: 100px;
}

.cart-login{
  padding-left: 30px;
}

.login-card{
  padding-left: 20px;
  cursor: pointer;
}

.login-card,
.login-text{
  display: inline;
}

.login-text{
  margin-left: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.3s linear;

}

.login-text:hover{
  background-color: #fff;
  border: 1px solid #fff;
  color: var(--main-color);
}

.down{
  height: 50px;
  width: 80%;
  justify-content: center;
  display: flex;
}
.search{
  height: 40px;
  width: 550px;
  background-color: white;
  margin-left: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.search input{
  width: 480px;
  height: 100%;
  border: 0px;
  padding-left: 20px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
} 
.search button{
  border: 0px;
  background-color: transparent;
  padding: 20px;
}
.search button img{
  width: 20px;
  height: auto;
  vertical-align: middle;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&display=swap');
      *{
        padding: 0px;
        margin: 0px;
       
       }
 body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.15;
  color: #111;
 }      
.content{
  margin: 0px auto;
  /* max-width: 1170px; */
  margin: 20px auto;
  display: grid;
}
.headline{
  text-align: left;
  padding: 20px;
  display: flex;
  align-items: center;
}

.headline-text{
  font-size: 20px;
  padding-right: 20px;
  margin-bottom: 0;
  font-weight: bold;
}

.headline-list{
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 18px;
}
h3{
  font-size: 18px;
  color: #111;
  padding: 10px 20px;
  text-transform: uppercase;
  border: 3px solid #bebebe;
  display: inline-block;
  color: #555;
  font-weight: 600;
  border-radius: 3px;
}
.products{
  /* list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between ; */
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px 10px;
  padding: 0;

}
.products-li{
  flex-basis: 25%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.image{
  max-width: 100%;
  height: 300px;
}
.products-info{
  display: block;
  padding: 20px;
}
.hinhdaidien{
  width: 50px;
}
.content-item{
  border: 1px solid #000;
  border-radius: 20px;
  overflow: hidden;
}

.products-top{
  margin: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-top .image{
  transition: all linear 0.3s;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.products-top .image:hover{
  transform: scale(0.8);
}

.products-name{
  font-size: 20px;
  color: var(--text-color);
  text-transform: capitalize;
  display: -webkit-box;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-y: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.products-price{
  color: #000;
}

.desc-product__title{
  border: none;
  padding: 10px 0;
}
